<!DOCTYPE html>
<html ng-app="customerProfile">
<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

 <script src="myapp.js"></script>



</head>
<body>

<div  ng-controller="customerLoginController">
    <form method="POST">
       
<h1>Home</h1>
        <span class="promptDetails" ng-click="getUserCredentials()"><a ui-sref="#" class="fetchLogDetails"></a></span>
        <br />
        <input type="button" id="loginUser" value="Logout" ng-click="logout(customer)" />
    </form>
</div><!-- End login form -->



</body>
</html>